		*{
            margin-left: 50px;
            padding: 0;
            background: #191919;
  		    position: relative;

		}
		div.cir{
			width: 250px;
			height: 250px;
			background: #4F77FF;
			border-radius: 250px;
			position: absolute;
			top: 90px;
			left: 435px;
		}
		div.squ{
			width: 250px;
			height: 250px;
			background: #4F77FF;
			position: absolute;
			top: 220px;
			left: 435px;
			outline: 3px solid #191919;
		}
		div.st1{
    		width: 200px;
		    height: 45px;
		    position: absolute;
		    left:485px;;
		    top: 425px;
		}
div.st2{
    		width: 150px;
		    height: 45px;
		    position: absolute;
		    left:535px;;
		    top: 365px;
		}
div.st3{
    		width: 100px;
		    height: 45px;
		    position: absolute;
		    left:585px;;
		    top: 305px;
		}
div.st4{
    		width: 50px;
		    height: 45px;
		    position: absolute;
		    left:635px;;
		    top: 245px;
		}
span{
  color : #191919;
  position: absolute;
  left: 480px;
  top: 200px;
  background: #4F77FF;
  font-size: 2em;
  text-transform: uppercase;
  font-family: arial;
}